<turbo-frame id="terminal">
  <h1>cliboard</h1>
  <turbo-frame id="messages">
    <%= render partial: "message", collection: messages %>
  </turbo-frame>

  <%= render partial: "command" %>
</turbo-frame>

